{% extends 'base.html'%}
{% load bootstrap3%}
{% block content %}
<style>
        .user_details{
                display: flex;
                justify-content: space-between;
        }
        .lesson{
                text-align: center;
                border:1px grey solid;
                margin:2%;
                border-radius: 3%;
                box-shadow:  2px 5px lightgrey;
        }
        .logo{
                color:red;
                font-weight: bolder;
        }
        span h1, h5 {
                display: inline-block;
        }
</style>

<div class="container">
        <h1><span class="logo">eLimu </h1> <h5>| MPesa Integration</h5> </span>
        <hr>
        {% if user.is_authenticated%}
        <h3>Hey {{user.username}},</h3>
        <div class="user_details">
                <h4>Phone Number: {{profile.phone_number}}</h4>
                
                <h4>Account Balance : {{profile.Account_Balance}} Ksh</h4>
               
                <button class="btn btn-danger"><a style="color:white;" href="/logout">Logout</a></button> 
        </div>
        <hr>
        {% if lessons %}
        {%for lesson in lessons%}
        <div class="lesson col-md-3" >
        <h4>{{lesson.subject}}</h4>
        <h4>{{lesson.paper}}</h4>
        <h5> 
                {% if purchased %}
                <p>Take Exam</p>
                {% else %}
                <button class="btn btn-info" >Buy Exam</button>
                {% endif %}
        </h5>
</div>
        {% endfor %}
       
        {% else %}
        <p>No lessons yet</p>
        {% endif %}        
        {% else %}
        <h2>Welcome Stranger</h2>
        <button class="btn btn-danger"><a style="color:white;"href="/login">Login</a></button>
        <button class="btn btn-danger"> <a style="color:white;" href="/signup">SignUp</a></button>
        {% endif%}
        


<br>
<span>
    
     
</span>
</div>



{%endblock%}




