{% extends 'base.html'%}
{% load bootstrap3%}
{% block content %}
<div class="container">
        <h3>Mpesa Integration</h3>
        <hr>
        {% if user.is_authenticated%}
        <h2>Welcome {{user.username}},</h2>
        <h4>Account Balance : {{profile.Account_Balance}} Ksh</h4>
        <br>
        <h4>Phone Number: {{profile.phone_number}}</h4>
        <button class="btn btn-danger"><a style="color:white;" href="/logout">Logout</a></button> 
        {% else %}
        <h2>Welcome Stranger</h2>
        <button class="btn btn-danger"><a style="color:white;"href="/login">Login</a></button>
        <button class="btn btn-danger"> <a style="color:white;" href="/signup">SignUp</a></button>
        {% endif%}
        


<br>
<span>
    
     
</span>
</div>



{%endblock%}




